<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <% include ./partials/navbar.ejs %>

    <main class="container">
        <header class="jumbotron my-4">
            <h1 class="display-3">TV Movie Center</h1>
            <p class="lead">Discover movies and TV</p>
        </header>

        <section>
            <h2 class="display-4 pop-heading">Popular TV Shows</h2>
            <div class="d-flex flex-wrap justify-content-center">
            <% shows.forEach(show => { %>
                <div class="card">
                    <a href="/tv/<%= show.id %>">
                    <img class="img-fluid" src="https://image.tmdb.org/t/p/w342/<%= show.poster_path %>" alt="TV Poster">
                    </a>
                </div>
            <% }) %>
            </div>
        </section>
    </main>

    <% include ./partials/baseScripts.ejs %>
</body>
</html>